<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated documentDataModel -->
      <package
            uri="http://documentDataModel.mortadelo.istr.unican.es"
            class="documentDataModel.DocumentDataModelPackage"
            genModel="model/documentDataModel.genmodel"/>
   </extension>

</plugin>
