<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated documentalDataModel -->
      <package
            uri="http://documentalDataModel.mortadelo.istr.unican.es"
            class="documentalDataModel.DocumentalDataModelPackage"
            genModel="model/documentalDataModel.genmodel"/>
   </extension>

</plugin>
