<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mongodb -->
      <package
            uri="http://mongodb.mortadelo.istr.unican.es"
            class="mongodb.MongodbPackage"
            genModel="model/mongodb.genmodel"/>
   </extension>

</plugin>
